* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(236, 234, 231);
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

hr {
    height: 2px;
    background-color: #E67072;
    margin: 20px 0;
}

.tituloBanner {
    margin-top: 0;
    line-height: 70px;
    font-size: 100px;
    font-weight: lighter;
    color: rgba(194, 228, 255, 0.41);
}

.active {
    color: #E67072 !important;
    font-weight: 800;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Eliminar estilo de Links */
a {
    color: none;
    text-decoration: none;
}

a:hover {
    color: none;
    text-decoration: none;
}

a:link {
    color: none;
    text-decoration: none;
}

a:active {
    color: none;
    text-decoration: none;
}

a:visited {
    color: none;
    text-decoration: none;
}

/* Cambios Navbar */
header {
    color: #E67072;
    border-bottom: #E67072 3px solid;
}

header #logo h1 {
    font-weight: 400;
    font-size: 22pt;
    height: 70px;
    line-height: 70px;
    margin-bottom: 0 !important;
    margin-left: 100px;
}

.nombre {
    font-weight: 800;
    color: rgb(156, 147, 132);
}

.navbar-nav.ms-auto .nav-item {
    margin-right: 40px;
    font-size: 12pt;
    text-transform: uppercase;
}

.navbar-nav.ms-auto {
    padding-right: 150px;
}

/* banner */
#banner {
    color: rgb(194, 228, 255);
    height: 400px;
    background-image: url(../img/seccion.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
    padding: 150px 40px;
}

/* Somos */

article#somos-columna {
    float: left;
    max-width: 65%;
}

aside#cuadrito {
    float: right;
    width: 30%;
    margin-top: 170px;
    padding: 10px;
}

.titulo {
    font-size: 30px;
    color: #146F9E;
    padding-bottom: 0;
    margin-top: 125px;
}

.destacado {
    background-color: #146F9E;
    color: aliceblue;
    padding: 15px;
    margin-top: 0px;
}

/* newsletter */
#newsletter {
    background-color: #31373b;
    color: aliceblue;
    min-width: 410px;
    min-height: 90px;
    padding: 20px;
}

#newsletter h3 {
    float: left;
    margin-top: 5px;
}

#newsletter form {
    float: right;
    margin-top: 8px;
}

#newsletter input {
    padding: 10px;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn_news {
    height: 32px;
    background-color: #E67072;
    border: none;
    padding: 0 20px;
    color: aliceblue;
    border-radius: 5px;
}

.btn_news:hover {
    background-color: #e6a543;
    color: black;
}

/* Boxes */

#boxes h2 {
    font-size: 25px;
    margin-bottom: 0px;
    color: #146F9E;
}

#boxes {
    margin-top: 50px;
    width: 100%;
}

#boxes img {
    width: 150px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#boxes h3 {
    padding-bottom: 20px;
    text-align: center;
}

#boxes p {
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
}

/* Footer */
footer {
    height: 60px;
    line-height: 60px;
    background-color: rgb(182, 174, 162);
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
    /* Asegúrate de que no haya margen inferior */
}


@media only screen and (max-width: 768px) {

    header #logo h1 {
        margin-left: 0 !important;
        font-size: 20pt;
    }

    .nombre {
        font-size: 20pt;
    }

    .tituloBanner {
        line-height: 40px;
        font-size: 50px;
    }

    #newsletter h3 {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    #newsletter form {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter input {
        width: 90%;
        margin: 7px 0;
    }

    #newsletter .btn_news {
        width: 95%;

    }

    article#somos-columna {
        float: none;
        max-width: 100%;
    }

    aside#cuadrito {
        float: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
    }

    .titulo {
        margin-top: 50px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }
}