* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(236, 234, 231);
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

hr {
    height: 2px;
    background-color: #d3831a;
    border: none;
    border-top: 1px solid #704711;
    margin: 20px 0;
}

.active {
    color: #E67072 !important;
    font-weight: 800;
}

.disabled{
    color: #696667 !important;
    font-size: 11pt;
    font-weight: 800;
    pointer-events: none;
}

/* Estilo boton Scroll Top */
.floating-button {
    border-radius: 10px;
    border: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E67072;
    color: black;
}

.floating-button:hover {
    background-color: #e6a543;
    color: black;
}

.floating-button i {
    font-size: 25px;
}

/* Eliminar estilo de Links */
a {
    color: none;
    text-decoration: none;
}

a:hover {
    color: none;
    text-decoration: none;
}

a:link {
    color: none;
    text-decoration: none;
}

a:active {
    color: none;
    text-decoration: none;
}

a:visited {
    color: none;
    text-decoration: none;
}

/* Cambios Navbar */
.BackgroundNavbar {
    background-color: #31373b;
}

header {
    color: #E67072;
    border-bottom: #E67072 3px solid;
}

.navbar{
    border-bottom: #a35354 2px solid;
}

header #logo h1 {
    font-weight: 400;
    font-size: 22pt;
    height: 70px;
    line-height: 70px;
    margin-bottom: 0 !important;
    margin-left: 50px;
}

.nombre {
    font-weight: 800;
    color: rgb(156, 147, 132);
}

.dropdown-menu {
    width: 30%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: beige;
    
}

.nav-link i {
    color: #e4bd82;
    padding-right: 7px;
    font-size: 20px;
}

.nav-link-dropdown {
    color: white;
    height: 40px;
    line-height: 30px;
    font-size: 11pt;
}

.nav-link-dropdown:hover {
    background-color: #394044;
    color: beige;
}

.nav-link-dropdown i {
    padding-right: 8px;
    font-size: 15pt;
}

.navbar-toggler {
    background-color: #636161 !important;
    color: rgb(41, 40, 40) !important;
}

.navbar-toggler:hover {
    background-color: #7e7d7d !important;
}

.navbar-nav.ms-auto .nav-item {
    margin-right: 15px;
    font-size: 12pt;
    text-transform: uppercase;
}

.instagram {
    color: #833ab4;
    /* Color primario de Instagram */
}

.facebook {
    color: #3b5998;
    /* Color primario de Facebook */
}

.whatsapp {
    color: #25d366;
    /* Color primario de WhatsApp */
}

.twitter {
    color: #1da1f2;
    /* Color primario de Twitter */
}

/* banner */
#banner {
    color: rgb(194, 228, 255);
    height: 400px;
    background-image: url(../img/seccion.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    text-align: center;
    color: aliceblue;
    line-height: 400px;
    display: flex;
    /* Agregar una propiedad flex */
    align-items: center;
    /* Centrar verticalmente */
}

.tituloBanner {
    margin-top: 0;
    line-height: 70px;
    font-size: 100px;
    font-weight: lighter;
    color: rgba(194, 228, 255, 0.41);
}

.tituloBannerHome {
    color: #e4bd82;
    font-size: calc(1.800rem + 2vw);
}

#banner p {
    font-size: 15pt;
    line-height: 30px;
}

/* Contacto */
article#contacto-columna {
    float: left;
    max-width: 65%;
}

aside#contacto {
    float: right;
    width: 30%;
    margin-top: 80px;
    padding: 10px;
}

article#contacto-columna .titulo {
    font-size: 40px;
    color: #146F9E;
    padding-bottom: 0;
    margin-top: 50px;
}

.importante {
    background-color: #146F9E;
    color: aliceblue;
    padding: 15px;
    margin-top: 0px;
}

#mapa {
    height: 400px;
}

.form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    /* Permite hacer clic en los campos de entrada sin interactuar con los iconos */
    color: #afaeae;
}

/* Somos */
article#somos-columna {
    float: left;
    max-width: 65%;
}

aside#cuadrito {
    float: right;
    width: 30%;
    margin-top: 80px;
    padding: 10px;
}

article#somos-columna .titulo {
    font-size: 40px;
    color: #146F9E;
    padding-bottom: 0;
    margin-top: 50px;
}

.destacado {
    background-color: #146F9E;
    color: aliceblue;
    padding: 15px;
    margin-top: 0px;
}

/* newsletter */
#newsletter {
    background-color: #31373b;
    color: aliceblue;
    min-width: 410px;
    min-height: 90px;
    padding: 20px;
}

#newsletter h3 {
    float: left;
    margin-top: 5px;
}

#newsletter form {
    float: right;
    margin-top: 8px;
}

#newsletter input {
    padding: 10px;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn_news {
    height: 32px;
    background-color: #E67072;
    border: none;
    padding: 0 20px;
    color: aliceblue;
    border-radius: 5px;
}

.btn_news:hover {
    background-color: #e6a543;
    color: black;
}

/* Boxes */
#boxes h2 {
    font-size: 35px;
    margin-bottom: 0px;
    color: #146F9E;
}

#boxes {
    margin-top: 50px;
    width: 100%;
}

#boxes img {
    width: 150px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#boxes h3 {
    padding-bottom: 20px;
    text-align: center;
}

#boxes p {
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
}

/* Footer */
footer {
    height: 60px;
    line-height: 60px;
    background-color: rgb(182, 174, 162);
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
    /* Asegúrate de que no haya margen inferior */
}

@media only screen and (max-width: 1160px) {

    header #logo h1 {
        margin-left: 0 !important;
        font-size: 20pt;
    }
}


@media only screen and (max-width: 768px) {

    header #logo h1 {
        margin-left: 0 !important;
        font-size: 20pt;
    }

    .nombre {
        font-size: 20pt;
    }

    .tituloBanner {
        line-height: 40px;
        font-size: 50px;
    }

    #newsletter h3 {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    #newsletter form {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter input {
        width: 90%;
        margin: 7px 0;
    }

    #newsletter .btn_news {
        width: 95%;

    }

    article#somos-columna {
        float: none;
        max-width: 100%;
    }

    aside#cuadrito {
        float: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
    }

    article#contacto-columna {
        float: none;
        max-width: 100%;
    }

    aside#contacto {
        float: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
    }

    .titulo {
        margin-top: 50px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }
}