* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(233, 228, 221);
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
    z-index: 2;
}

hr {
    height: 2px;
    background-color: #d3831a;
    border: none;
    border-top: 1px solid #704711;
    margin: 20px 0;
}

h4 {
    color: burlywood;
}

.active {
    color: #1A9FFF !important;
    font-weight: 800;
}

.colorContainer {
    display: flex;
    align-items: center;
}

.coloresUsados {
    margin-right: 10px;
}

.colorAzulOscuro {
    background-color: #146F9E;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorAzul {
    background-color: #1A9FFF;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorRojo {
    background-color: #B14143;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorCeleste {
    background-color: #91C2E5;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorDorado {
    background-color: #E4BD82;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorNaranja {
    background-color: #E6A543;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorGris {
    background-color: #31373B;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colorGrisOscuro {
    background-color: #1D1F21;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #31373B;
}

.colorBeige {
    background-color: #E9E4DD;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.disabled {
    color: #696667 !important;
    font-size: 11pt;
    font-weight: 800;
    pointer-events: none;
}

#logosteam {
    padding: 20px;
    height: 85px;
    margin-left: 20px;
}

/* Estilo boton Scroll Top */
.floating-button {
    border-radius: 10px;
    border: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B14143;
    color: black;
}

.floating-button:hover {
    background-color: #e6a543;
    color: black;
}

.floating-button i {
    font-size: 25px;
}

/* Eliminar estilo de Links */
a {
    color: none;
    text-decoration: none;
}

a:hover {
    color: none;
    text-decoration: none;
}

a:link {
    color: none;
    text-decoration: none;
}

a:active {
    color: none;
    text-decoration: none;
}

a:visited {
    color: none;
    text-decoration: none;
}

/* Cambios Navbar */
.BackgroundNavbar {
    background-color: #31373b;
}

header {
    color: #E67072;
    border-bottom: #E67072 3px solid;
}

.navbar {
    border-bottom: #a35354 2px solid;
}

header #logo h1 {
    font-weight: 400;
    font-size: 22pt;
    height: 70px;
    line-height: 70px;
    margin-bottom: 0 !important;
    margin-left: 50px;
}

.nombre {
    font-weight: 800;
    color: rgb(156, 147, 132);
}

.dropdown-menu {
    width: 30%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: azure;

}

.nav-link i {
    color: #91c2e5;
    padding-right: 7px;
    font-size: 20px;
}

.nav-link-dropdown {
    color: white;
    height: 40px;
    line-height: 30px;
    font-size: 11pt;
}

.nav-link-dropdown:hover {
    background-color: #394044;
    color: beige;
}

.nav-link-dropdown i {
    padding-right: 8px;
    font-size: 15pt;
}

.navbar-toggler {
    background-color: #636161 !important;
    color: rgb(41, 40, 40) !important;
}

.navbar-toggler:hover {
    background-color: #7e7d7d !important;
}

.navbar-nav.ms-auto .nav-item {
    margin-right: 15px;
    font-size: 12pt;
    text-transform: uppercase;
}

.instagram {
    color: #833ab4;
    /* Color primario de Instagram */
}

.instagramFooter {
    color: #833ab4;
    font-size: 24px;
    /* Color primario de Instagram */
}

.facebook {
    color: #3b5998;
    /* Color primario de Facebook */
}

.facebookFooter {
    color: #3b5998;
    font-size: 24px;
    /* Color primario de Facebook */
}

.whatsapp {
    color: #25d366;
    /* Color primario de WhatsApp */
}

.whatsappFooter {
    color: #25d366;
    font-size: 24px;
    /* Color primario de WhatsApp */
}

.twitter {
    color: #1da1f2;
    /* Color primario de Twitter */
}

.twitterFooter {
    color: #1da1f2;
    font-size: 24px;
    /* Color primario de Twitter */
}

/* banner */
#banner {
    color: rgb(194, 228, 255);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    line-height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-container {
    margin-right: 20px;
}

.text-container {
    flex: 1;
}

#banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    /* Agregar difuminado */
    z-index: 1;
}

.tituloBanner {
    text-transform: uppercase;
    margin-top: 0;
    font-size: calc(1.800rem + 2vw);
    font-weight: 550;
    color: rgba(166, 212, 250, 0.7);
}

.tituloBannerHome {
    text-transform: uppercase;
    color: #e4bd82;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 700;
    font-size: calc(1.800rem + 2vw);
}

#banner p {
    font-size: 15pt;
    line-height: 30px;
}

/* Contacto */
#contacto h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

article#contacto-columna {
    float: left;
    max-width: 65%;
}

aside#contacto {
    float: right;
    width: 30%;
    margin-top: 80px;
    padding: 10px;
}

article#contacto-columna .titulo {
    font-size: 40px;
    color: #146F9E;
    padding-bottom: 0;
    margin-top: 50px;
}

.importante {
    background-color: #146F9E;
    color: aliceblue;
    padding: 15px;
    margin-top: 0px;
}

#mapa {
    height: 400px;
}

.form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    /* Permite hacer clic en los campos de entrada sin interactuar con los iconos */
    color: #afaeae;
}

/* Somos */
article#somos-columna {
    float: left;
    max-width: 65%;
}

aside#cuadrito {
    float: right;
    width: 30%;
    margin-top: 80px;
    padding: 10px;
}

article#somos-columna .titulo {
    font-size: 40px;
    color: #146F9E;
    padding-bottom: 0;
    margin-top: 50px;
}

.destacado {
    background-color: #146F9E;
    color: aliceblue;
    padding: 15px;
    margin-top: 0px;
}

#cuadrito h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

/* newsletter */
#newsletter {
    background-color: #31373b;
    color: aliceblue;
    min-width: 410px;
    min-height: 90px;
    padding: 20px;
}

#newsletter h2 {
    float: left;
    font-size: 18pt;
    color: white;
    margin-top: 5px;
}

#newsletter form {
    float: right;
    margin-top: 8px;
}

#newsletter input {
    padding: 10px;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn_news {
    height: 32px;
    background-color: #B14143;
    border: none;
    padding: 0 20px;
    color: aliceblue;
    border-radius: 5px;
}

.btn_news:hover {
    background-color: #e6a543;
    color: black;
}

/* Juegos */
#juegos h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #146F9E;
}

h4 {
    font-size: 22pt;
}

.juegos img {
    width: 267px;
}

.juegos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    gap: 20px;
    justify-items: center;
}

.juegos {
    text-align: center;
    background-color: #171A21;
    width: 267px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juegos .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.juegos .textos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: justify;
    color: aliceblue;
}

.juegos .textos p {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Boxes */
#boxes h2 {
    font-size: 35px;
    margin-bottom: 0px;
    color: #146F9E;
}

#boxes {
    margin-top: 50px;
    width: 100%;
}

#boxes img {
    width: 250px;
    height: 400px;
    padding-bottom: 40px;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

#boxes img:hover {
    transform: scale(1.1);
}

#boxes h3 {
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
    font-size: 26pt;
}

#boxes p {
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
}

/* Footer */
.footer {
    padding: 30px;
    margin-top: 20px;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(29, 31, 33);
    color: #ccc;
}

.footer-bottom {
    padding-top: 30px;
    font-size: 14pt;
    text-align: center;
    color: aliceblue;
}

.footer-social i {
    margin-left: 20px;
}

.footer .btn_footer {
    min-width: 50px !important;
    width: 50px !important;
    height: 40px !important;
    line-height: 40px;
    background-color: #B14143;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
}

.footer h3 {
    font-size: 14pt;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
    padding-top: 15px;
    position: relative;
    margin-bottom: 20px;
}

.footer h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1A9FFF;
    height: 3px;
    box-sizing: border-box;
    width: 65px;
}

.footer ul {
    padding-left: 0;
    list-style-type: none;
}

.footer li {
    padding-top: 15px;
}

.footer-bottom p {
    padding-top: 20px;
}

@media only screen and (max-width: 1160px) {

    header #logo h1 {
        margin-left: 0 !important;
        font-size: 20pt;
    }

    #logosteam {
        margin-left: 0 !important;
        height: 85px;
        width: 219px;
    }
}


@media only screen and (max-width: 768px) {

    header #logo h1 {
        margin-left: 0 !important;
        font-size: 20pt;
    }

    #logosteam {
        margin-left: 0 !important;
        height: 85px;
        width: 219px;
    }

    .nombre {
        font-size: 20pt;
    }

    .tituloBanner {
        font-size: 35px;
    }

    #newsletter h3 {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    #newsletter form {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter input {
        width: 90%;
        margin: 7px 0;
    }

    #newsletter .btn_news {
        width: 95%;
    }

    article#somos-columna {
        float: none;
        max-width: 100%;
    }

    aside#cuadrito {
        float: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
    }

    article#contacto-columna {
        float: none;
        max-width: 100%;
    }

    aside#contacto {
        float: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
    }

    .titulo {
        margin-top: 50px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }
}